In [1]:
#import sys
#!{sys.executable} -m pip install strsimpy

In [2]:
import numpy as np
import pandas as pd
dp=pd.read_csv("hospital.csv",error_bad_lines=False)

b'Skipping line 7: expected 4 fields, saw 7\n'

In [3]:
dp.head(15)

   Data_Source Table_Name         Property        Datatype
0      SIMPUS1   TBPASIEN    TanggalDaftar            Date
1      SIMPUS1   TBPASIEN          NoIndex     Varchar(20)
2      SIMPUS1   TBPASIEN             NoCM     Varchar(20)
3      SIMPUS1   TBPASIEN       NamaPasien     Varchar(50)
4      SIMPUS1   TBPASIEN   StatusKeluarga     Varchar(20)
5      SIMPUS1   TBPASIEN     JenisKelamin      Tinyint(2)
6      SIMPUS1   TBPASIEN            Agama      Varchar(8)
7      SIMPUS1   TBPASIEN      StatusNikah     Varchar(15)
8      SIMPUS1   TBPASIEN    GolonganDarah      Varchar(2)
9      SIMPUS1   TBPASIEN       Pendidikan     Varchar(15)
10     SIMPUS1   TBPASIEN      "Pekerjaan"   "Varchar(15)"
11     SIMPUS1   TBPASIEN         Asuransi     Varchar(20)
12     SIMPUS1   TBPASIEN  StatusAsuransi      Varchar(20)
13     SIMPUS1   TBPASIEN       NoAsuransi   "Varchar(20)"
14     SIMPUS1   TBPASIEN              Nip    Varchar(20)

In [48]:
query="Select Kelamin from Pasien where Kelamin=2"
query

'Select Kelamin from Pasien where Kelamin=2'

In [5]:
Attr=str(query[query.find("Select "):query.find("from ")])
Tables=query[query.find("from "):query.find(" where")]
Attr=Attr.split("Select ")
Attr=Attr[1]
Attr=Attr.split(",")
Tables=Tables.split("from")
Tables=Tables[1]
Tables=Tables.split(",")
print("Attributes Accessed by Query are : ",Attr)
print("Relations Accessed by Query are : ",Tables)

Attributes Accessed by Query are :  ['Kelamin ']
Relations Accessed by Query are :  [' Pasien']

In [6]:
T1=Tables[0]
attr1=Attr[0]

In [7]:
sp=dp["Table_Name"]
sp=sp.drop_duplicates()
cp=sp.values.tolist()
cp

['TBPASIEN',
 'TBDIAGNOSA PASIEN',
 'TBDIAGNOSA',
 'PASIEN',
 'PEMERIKSAAN',
 'TABEL_PENYAKIT']

In [25]:
import ngram
a="Pasien"
a=a.lower()
def lower(s):
     return s.lower()
k = ngram.NGram(cp,key=lower)
Table_matching=k.search(a,threshold=0.4)
T_match={Table_matching[i][0]:Table_matching[i][1] for i in range(len(Table_matching)) for j in range(len(Table_matching))}
abc=dp.loc[dp['Table_Name'].isin(list(T_match.keys())), :]
abc=abc[["Data_Source","Table_Name"]]
abc=abc.drop_duplicates()
scehma=dp.values.tolist()
print("Relation",T1," in the given query matches with Schema:")
print(abc)
print(T_match)

Relation  Pasien  in the given query matches with Schema:
   Data_Source Table_Name
5      SIMPUS1   TBPASIEN
29     SIMPUS2     PASIEN
{'PASIEN': 1.0, 'TBPASIEN': 0.5}

In [9]:
dp=pd.read_csv("hospital.csv",error_bad_lines=False)
dp.head()

b'Skipping line 7: expected 4 fields, saw 7\n'

  Data_Source Table_Name        Property     Datatype
0     SIMPUS1   TBPASIEN   TanggalDaftar         Date
1     SIMPUS1   TBPASIEN         NoIndex  Varchar(20)
2     SIMPUS1   TBPASIEN            NoCM  Varchar(20)
3     SIMPUS1   TBPASIEN      NamaPasien  Varchar(50)
4     SIMPUS1   TBPASIEN  StatusKeluarga  Varchar(20)

In [10]:
pr=dp["Property"]
pr.head()
property=pr.values.tolist()
property

['TanggalDaftar',
 'NoIndex',
 'NoCM',
 'NamaPasien',
 'StatusKeluarga',
 'JenisKelamin',
 'Agama',
 'StatusNikah',
 'GolonganDarah',
 'Pendidikan',
 ' "Pekerjaan"',
 'Asuransi',
 'StatusAsuransi ',
 'NoAsuransi',
 'Nip',
 'TanggalDiagnosa ',
 'NoCM',
 'NoRegistrasi',
 'KodeDiagnosa',
 'Kasus',
 'KodeDiagnosa',
 ' "NamaDianosa"',
 'KodeKelompok',
 'KelompokDiagnosa',
 'Golongan',
 'nomorkartu ',
 'tanggaldaftar',
 'namapasien',
 'id_kategori',
 'jeniskelamin',
 ' "tanggallahir"',
 'umur',
 'alamat ',
 'kota',
 'telepon',
 'agama',
 'pekerjaan',
 'informasi',
 'goldarah',
 'id_kelurahan',
 ' "id_wilayahkerja"',
 ' "nikpasien"',
 'id_pemeriksaan',
 'nomorkartu',
 ' "tanggal_periksa"',
 ' "diagnosa" ',
 'anamnesa ',
 ' "alergi" ',
 'sistol ',
 'diastol',
 ' "pemeriksaanfisik"',
 'nomorresep',
 'diagnosalainnya',
 'id_dokter',
 'umur',
 'suhu',
 'beratbadan',
 ' "tinggibadan"',
 'terapi ',
 'resep',
 'kasus',
 ' "jumlahnafas"',
 'id_penyakit ',
 'penyakit ',
 'id_kategoripenyakit2']

In [27]:
b="Kelamin"
b=b.lower()
def lower(s):
     return s.lower()
k = ngram.NGram(property,key=lower)
Property_matching=k.search(b,threshold=0.4)
A_match={Property_matching[i][0]:Property_matching[i][1] for i in range(len(Property_matching)) for j in range(len(Property_matching))}
abc=dp.loc[dp['Property'].isin(list(A_match.keys())), :]
abc=abc[["Data_Source","Table_Name","Property"]]
abc=abc.drop_duplicates()
scehma=dp.values.tolist()
print("Attribute",attr1," in the given query matches with Schema:")
print(abc)
print(A_match)

Attribute Kelamin   in the given query matches with Schema:
   Data_Source Table_Name      Property
5      SIMPUS1   TBPASIEN  JenisKelamin
29     SIMPUS2     PASIEN  jeniskelamin
{'JenisKelamin': 0.4375, 'jeniskelamin': 0.4375}

In [28]:
print(cp)

['TBPASIEN', 'TBDIAGNOSA PASIEN', 'TBDIAGNOSA', 'PASIEN', 'PEMERIKSAAN', 'TABEL_PENYAKIT']

EDIT Distance

In [29]:
out = [x.lower() for x in cp]
print(out)

['tbpasien', 'tbdiagnosa pasien', 'tbdiagnosa', 'pasien', 'pemeriksaan', 'tabel_penyakit']

In [30]:
from strsimpy.levenshtein import Levenshtein
from collections import defaultdict
levenshtein = Levenshtein()
Distance=[]
for i in range(len(out)):
    print("Given Relation:",T1,cp[i],", Edit Distance:",levenshtein.distance(a,out[i]))
    Distance.append(levenshtein.distance(a,out[i]))
print(Distance)

Given Relation:  Pasien TBPASIEN , Edit Distance: 2
Given Relation:  Pasien TBDIAGNOSA PASIEN , Edit Distance: 11
Given Relation:  Pasien TBDIAGNOSA , Edit Distance: 8
Given Relation:  Pasien PASIEN , Edit Distance: 0.0
Given Relation:  Pasien PEMERIKSAAN , Edit Distance: 8
Given Relation:  Pasien TABEL_PENYAKIT , Edit Distance: 11
[2, 11, 8, 0.0, 8, 11]

In [31]:
res = {cp[i]: Distance[i] for i in range(len(cp)) if Distance[i]<=4}
print(res)

{'TBPASIEN': 2, 'PASIEN': 0.0}

In [45]:
Sim_Dist=[]
for i in range(len(cp)):
    Sim_Dist.append((max(len(cp[i]),len(a))-Distance[i])/max(len(cp[i]),len(a)))
T_match={cp[i]:Sim_Dist[i] for i in range(len(cp))}
print(T_match)

{'TBPASIEN': 0.75, 'TBDIAGNOSA PASIEN': 0.35294117647058826, 'TBDIAGNOSA': 0.2, 'PASIEN': 1.0, 'PEMERIKSAAN': 0.2727272727272727, 'TABEL_PENYAKIT': 0.21428571428571427}

In [46]:
Similar={cp[i]:Sim_Dist[i] for i in range(len(cp)) if Sim_Dist[i]>=0.40}
abc=dp.loc[dp['Table_Name'].isin(list(T_match.keys())), :]
abc=abc[["Data_Source","Table_Name"]]
abc=abc.drop_duplicates()
scehma=dp.values.tolist()
print("Relation",T1," in the given query matches with Schema:")
print(abc)
print(Similar)

Relation  Pasien  in the given query matches with Schema:
   Data_Source Table_Name
5      SIMPUS1   TBPASIEN
29     SIMPUS2     PASIEN
{'TBPASIEN': 0.75, 'PASIEN': 1.0}

In [33]:
out2=[x.lower() for x in property ]
out2

['tanggaldaftar',
 'noindex',
 'nocm',
 'namapasien',
 'statuskeluarga',
 'jeniskelamin',
 'agama',
 'statusnikah',
 'golongandarah',
 'pendidikan',
 ' "pekerjaan"',
 'asuransi',
 'statusasuransi ',
 'noasuransi',
 'nip',
 'tanggaldiagnosa ',
 'nocm',
 'noregistrasi',
 'kodediagnosa',
 'kasus',
 'kodediagnosa',
 ' "namadianosa"',
 'kodekelompok',
 'kelompokdiagnosa',
 'golongan',
 'nomorkartu ',
 'tanggaldaftar',
 'namapasien',
 'id_kategori',
 'jeniskelamin',
 ' "tanggallahir"',
 'umur',
 'alamat ',
 'kota',
 'telepon',
 'agama',
 'pekerjaan',
 'informasi',
 'goldarah',
 'id_kelurahan',
 ' "id_wilayahkerja"',
 ' "nikpasien"',
 'id_pemeriksaan',
 'nomorkartu',
 ' "tanggal_periksa"',
 ' "diagnosa" ',
 'anamnesa ',
 ' "alergi" ',
 'sistol ',
 'diastol',
 ' "pemeriksaanfisik"',
 'nomorresep',
 'diagnosalainnya',
 'id_dokter',
 'umur',
 'suhu',
 'beratbadan',
 ' "tinggibadan"',
 'terapi ',
 'resep',
 'kasus',
 ' "jumlahnafas"',
 'id_penyakit ',
 'penyakit ',
 'id_kategoripenyakit2']

In [34]:
levenshtein = Levenshtein()
Distance2=[]
for i in range(len(out2)):
    print("For given attribute",b, "edit distance with attribute of Relations",out2[i], "is ",levenshtein.distance(b,out2[i]))
    Distance2.append(levenshtein.distance(b,out2[i]))
print(Distance2)

For given attribute kelamin edit distance with attribute of Relations tanggaldaftar is  11
For given attribute kelamin edit distance with attribute of Relations noindex is  7
For given attribute kelamin edit distance with attribute of Relations nocm is  6
For given attribute kelamin edit distance with attribute of Relations namapasien is  7
For given attribute kelamin edit distance with attribute of Relations statuskeluarga is  10
For given attribute kelamin edit distance with attribute of Relations jeniskelamin is  5
For given attribute kelamin edit distance with attribute of Relations agama is  5
For given attribute kelamin edit distance with attribute of Relations statusnikah is  10
For given attribute kelamin edit distance with attribute of Relations golongandarah is  11
For given attribute kelamin edit distance with attribute of Relations pendidikan is  7
For given attribute kelamin edit distance with attribute of Relations  "pekerjaan" is  9
For given attribute kelamin edit distance with attribute of Relations asuransi is  7
For given attribute kelamin edit distance with attribute of Relations statusasuransi  is  13
For given attribute kelamin edit distance with attribute of Relations noasuransi is  9
For given attribute kelamin edit distance with attribute of Relations nip is  6
For given attribute kelamin edit distance with attribute of Relations tanggaldiagnosa  is  13
For given attribute kelamin edit distance with attribute of Relations nocm is  6
For given attribute kelamin edit distance with attribute of Relations noregistrasi is  10
For given attribute kelamin edit distance with attribute of Relations kodediagnosa is  9
For given attribute kelamin edit distance with attribute of Relations kasus is  5
For given attribute kelamin edit distance with attribute of Relations kodediagnosa is  9
For given attribute kelamin edit distance with attribute of Relations  "namadianosa" is  10
For given attribute kelamin edit distance with attribute of Relations kodekelompok is  8
For given attribute kelamin edit distance with attribute of Relations kelompokdiagnosa is  10
For given attribute kelamin edit distance with attribute of Relations golongan is  6
For given attribute kelamin edit distance with attribute of Relations nomorkartu  is  10
For given attribute kelamin edit distance with attribute of Relations tanggaldaftar is  11
For given attribute kelamin edit distance with attribute of Relations namapasien is  7
For given attribute kelamin edit distance with attribute of Relations id_kategori is  9
For given attribute kelamin edit distance with attribute of Relations jeniskelamin is  5
For given attribute kelamin edit distance with attribute of Relations  "tanggallahir" is  12
For given attribute kelamin edit distance with attribute of Relations umur is  6
For given attribute kelamin edit distance with attribute of Relations alamat  is  5
For given attribute kelamin edit distance with attribute of Relations kota is  5
For given attribute kelamin edit distance with attribute of Relations telepon is  4
For given attribute kelamin edit distance with attribute of Relations agama is  5
For given attribute kelamin edit distance with attribute of Relations pekerjaan is  6
For given attribute kelamin edit distance with attribute of Relations informasi is  8
For given attribute kelamin edit distance with attribute of Relations goldarah is  6
For given attribute kelamin edit distance with attribute of Relations id_kelurahan is  7
For given attribute kelamin edit distance with attribute of Relations  "id_wilayahkerja" is  16
For given attribute kelamin edit distance with attribute of Relations  "nikpasien" is  9
For given attribute kelamin edit distance with attribute of Relations id_pemeriksaan is  11
For given attribute kelamin edit distance with attribute of Relations nomorkartu is  9
For given attribute kelamin edit distance with attribute of Relations  "tanggal_periksa" is  16
For given attribute kelamin edit distance with attribute of Relations  "diagnosa"  is  11
For given attribute kelamin edit distance with attribute of Relations anamnesa  is  8
For given attribute kelamin edit distance with attribute of Relations  "alergi"  is  8
For given attribute kelamin edit distance with attribute of Relations sistol  is  7
For given attribute kelamin edit distance with attribute of Relations diastol is  7
For given attribute kelamin edit distance with attribute of Relations  "pemeriksaanfisik" is  16
For given attribute kelamin edit distance with attribute of Relations nomorresep is  10
For given attribute kelamin edit distance with attribute of Relations diagnosalainnya is  12
For given attribute kelamin edit distance with attribute of Relations id_dokter is  9
For given attribute kelamin edit distance with attribute of Relations umur is  6
For given attribute kelamin edit distance with attribute of Relations suhu is  7
For given attribute kelamin edit distance with attribute of Relations beratbadan is  7
For given attribute kelamin edit distance with attribute of Relations  "tinggibadan" is  12
For given attribute kelamin edit distance with attribute of Relations terapi  is  4
For given attribute kelamin edit distance with attribute of Relations resep is  6
For given attribute kelamin edit distance with attribute of Relations kasus is  5
For given attribute kelamin edit distance with attribute of Relations  "jumlahnafas" is  12
For given attribute kelamin edit distance with attribute of Relations id_penyakit  is  9
For given attribute kelamin edit distance with attribute of Relations penyakit  is  6
For given attribute kelamin edit distance with attribute of Relations id_kategoripenyakit2 is  16
[11, 7, 6, 7, 10, 5, 5, 10, 11, 7, 9, 7, 13, 9, 6, 13, 6, 10, 9, 5, 9, 10, 8, 10, 6, 10, 11, 7, 9, 5, 12, 6, 5, 5, 4, 5, 6, 8, 6, 7, 16, 9, 11, 9, 16, 11, 8, 8, 7, 7, 16, 10, 12, 9, 6, 7, 7, 12, 4, 6, 5, 12, 9, 6, 16]

In [47]:
Sim_Dist2=[]
for i in range(len(property)):
    Sim_Dist2.append((max(len(property[i]),len(b))-Distance2[i])/max(len(property[i]),len(b)))
Similar2={property[i]:Sim_Dist2[i] for i in range(len(property)) if Sim_Dist2[i]>=0.50}
abc=dp.loc[dp['Property'].isin(list(Similar2.keys())), :]
abc=abc[["Data_Source","Table_Name","Property"]]
abc=abc.drop_duplicates()
scehma=dp.values.tolist()
print("Attribute",attr1," in the given query matches with Schema:")
print(abc)
print("Best Similarity Between given attribute in the query and the attributes in different data sources:",Similar2)

Attribute Kelamin   in the given query matches with Schema:
   Data_Source Table_Name      Property
5      SIMPUS1   TBPASIEN  JenisKelamin
29     SIMPUS2     PASIEN  jeniskelamin
Best Similarity Between given attribute in the query and the attributes in different data sources: {'JenisKelamin': 0.5833333333333334, 'jeniskelamin': 0.5833333333333334}

In [36]:
dp=pd.read_csv("hospital.csv",error_bad_lines=False)
dp.head()

b'Skipping line 7: expected 4 fields, saw 7\n'

  Data_Source Table_Name        Property     Datatype
0     SIMPUS1   TBPASIEN   TanggalDaftar         Date
1     SIMPUS1   TBPASIEN         NoIndex  Varchar(20)
2     SIMPUS1   TBPASIEN            NoCM  Varchar(20)
3     SIMPUS1   TBPASIEN      NamaPasien  Varchar(50)
4     SIMPUS1   TBPASIEN  StatusKeluarga  Varchar(20)

In [37]:
dp=dp.loc[dp['Property'].isin(list(Similar2.keys())), :]
dp.head()

   Data_Source Table_Name      Property    Datatype
5      SIMPUS1   TBPASIEN  JenisKelamin  Tinyint(2)
29     SIMPUS2     PASIEN  jeniskelamin  Tinyint(1)

In [38]:
cons=[]
constraint=list(dp['Datatype'])
for i in range(len(constraint)):
    temp=constraint[i]
    temp=temp[:temp.find("(")]
    cons.append(temp)
#constraint=constraint[constraint.find("("):]
cons

['Tinyint', 'Tinyint']

In [39]:
for i in range(len(cons)):
    for j in range(len(cons)):
        if cons[i]==cons[j]:
            print(constraint[i],"=",constraint[j])
        else :
            print(constraint[i],"!=",constraint[j])

Tinyint(2) = Tinyint(2)
Tinyint(2) = Tinyint(1)
Tinyint(1) = Tinyint(2)
Tinyint(1) = Tinyint(1)

In [49]:
for ind in dp.index: 
     print("Select",dp['Data_Source'][ind],".",dp['Table_Name'][ind],".",dp['Property'][ind],"from",dp['Data_Source'][ind],".",dp['Table_Name'][ind],"where",dp['Data_Source'][ind],".",dp['Table_Name'][ind],".",dp['Property'][ind],"= 2")

Select SIMPUS1 . TBPASIEN . JenisKelamin from SIMPUS1 . TBPASIEN where SIMPUS1 . TBPASIEN . JenisKelamin = 2
Select SIMPUS2 . PASIEN . jeniskelamin from SIMPUS2 . PASIEN where SIMPUS2 . PASIEN . jeniskelamin = 2